.vantage__training-heading {
    height: 100vh;
    overflow: hidden;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vantage__training-heading h1 {
    border-bottom: 2px solid var(--color-text);
    padding-bottom: 1rem;
}

.vantage__training-heading p {
    padding-top: 1rem;
}