
.vantage__about {
    color: #fff;
    /* padding-top: 0; */
}

.vantage__about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    /* background-image: url('/src/assets/black_drone_back_background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
}

.vantage__about-heading h1 {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}

.vantage__about-heading p {
    padding-top: 1rem;
}


.vantage__about-paragraph {
    padding: 2rem;
}

.vantage__about-paragraph p {
    padding-bottom: 1rem;
}


